* {
    font-family: 'Comfortaa', serif;
    text-align: center;
    font-size: 20px;
    outline: none;
    margin: 0 auto;
    padding: 0 auto;
}
.page {
    min-width: 600px;
    min-height: 100vh;
}
.page-header {

}
.container {
}
.page-title {
    margin-bottom: 80px;
    text-align: center;
}
.container .theme-button{
    outline: none;
}
.container li{
    margin:0 15px 0 15px;
}
li .logo {
    margin: 0 40px 0 40px;
}
.theme-button {
    border: none;
}
.theme-button .logo {
    color: rgb(255, 68, 68);
    font-size: 1.5em;
}
.container .page-title {
    margin-left: 50px;
    margin-top: 100px;
    text-align: center;
font-size: 2.5em;
}
.container .navigation {
    justify-content: space-around;
    list-style-type: none;
}
.container .class1 {
    font-family: 'Comfortaa', cursive;
    margin: 0 15px 0 15px;
    text-align: left;
    background: url(Images/back2.jpg) no-repeat center/100%;
    font-size: 4.5em;
}.container .news{
    font-size: 1.5em;
    justify-content: space-around;
    display: flex;
    margin-top: 100px;
}
.span-news{
    border: solid 1px;
    padding: 8px 30px 8px 30px;
}
.models .news-arrival{
    display: inline-block;
}
.news-arrival .models-new{
    margin: 100px 50px 0 0;
    justify-content: space-around;
    width: 300px;
    height: 400px;
}
.comment-photo{
    text-align: left;
}
.price {
    text-align: left;
    color: rgb(107, 106, 106);
}
